<div class="row mt-2 mb-1">
  <h2 class="mainpage-block-header">Церковный календарь</h2>
</div>
<div class="row">
  <script src="https://script.pravoslavie.ru/calendar.php"></script>
</div>
<div class="row mt-4 mb-2">
  <h2 class="mainpage-block-header">Видеогалерея</h2>
</div>
<div class="row">
  <iframe class="videogallery-iframe" src="https://vk.com/video_ext.php?oid=-65756798&id=456239022&hash=ead6b4484589bcef&hd=2" width="280" height="230" allow="encrypted-media; fullscreen; picture-in-picture;" allowfullscreen></iframe>
  <p> Остальные видеофрагменты вы можете смотреть на странице <a href="/videogalereya">"Видеогалерея"</a>.</p>
</div>
